<!-- Content -->

<div
  class="authentication-wrapper authentication-cover"
  *ngIf="!temps_de_latence"
>
  <!-- Logo -->
  <!-- personnalisable -->
  <a
    href="index.html"
    class="auth-cover-brand d-flex align-items-center gap-2"
    style="margin-top: 70px"
  >
    <span class="app-brand-logo demo">
      <span style="color: var(--bs-primary)">
        <!-- logo de la structure -->
        <img
          src="../../assets/img/illustrations/logo_remuci-removebg-preview.png"
          alt="tree"
          height="90"
          width="90"
          *ngIf="customizer == 'remuci'"
        />
        <img
          src="../../assets/img/illustrations/logo_gesci-removebg-preview.png"
          alt="tree"
          height="90"
          width="90"
          *ngIf="customizer == 'gesci'"
        />
      </span>
    </span>
    <!-- nom de la structure -->
    <span class="app-brand-text demo text-heading fw-semibold">{{
      AuthService.nom_de_la_structure
    }}</span>
  </a>
  <!-- /Logo -->

  <div class="authentication-inner row m-0">
    <!-- /Left Section -->
    <!-- personnalisable -->
    <div
      class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center justify-content-center p-5 pb-2"
      style="background-color: #fff6e7"
      *ngIf="customizer == 'remuci' && AuthService.user_connecte"
    >
      <div>
        <img
          src="../../assets/img/illustrations/connexion.jpg"
          class="authentication-image-model d-none d-lg-block"
          alt="auth-model"
          data-app-light-img="illustrations/connexion.jpg"
          data-app-dark-img="illustrations/connexion.jpg"
        />
      </div>
      <img
        src="../../assets/img/illustrations/auth-cover-mask-light.png"
        class="scaleX-n1-rtl authentication-image d-none d-lg-block w-75"
        alt="triangle-bg"
        data-app-light-img="illustrations/auth-cover-mask-light.png"
        data-app-dark-img="illustrations/auth-cover-mask-dark.png"
      />
    </div>
    <div
      class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center justify-content-center p-5 pb-2"
      style="background-color: #ffffff"
      *ngIf="customizer == 'gesci' && AuthService.user_connecte"
    >
      <div>
        <img
          src="../../assets/img/illustrations/20944013.jpg"
          class="authentication-image-model d-none d-lg-block"
          alt="auth-model"
          data-app-light-img="illustrations/20944013.jpg"
          data-app-dark-img="illustrations/20944013.jpg"
        />
      </div>
      <img
        src="../../assets/img/illustrations/auth-cover-mask-light.png"
        class="scaleX-n1-rtl authentication-image d-none d-lg-block w-75"
        alt="triangle-bg"
        data-app-light-img="illustrations/auth-cover-mask-light.png"
        data-app-dark-img="illustrations/auth-cover-mask-dark.png"
      />
    </div>
    <div
      class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center justify-content-center p-5 pb-2"
      *ngIf="!AuthService.user_connecte"
    >
      <div>
        <img
          src="../../assets/img/illustrations/boy-with-laptop-light.png"
          class="authentication-image-model d-none d-lg-block"
          alt="auth-model"
          data-app-light-img="illustrations/boy-with-laptop-light.png"
          data-app-dark-img="illustrations/boy-with-laptop-light.png"
        />
      </div>
      <img
        src="../../assets/img/illustrations/auth-cover-mask-light.png"
        class="scaleX-n1-rtl authentication-image d-none d-lg-block w-75"
        alt="triangle-bg"
        data-app-light-img="illustrations/auth-cover-mask-light.png"
        data-app-dark-img="illustrations/auth-cover-mask-dark.png"
      />
    </div>
    <!-- /Left Section -->

    <!-- Login -->
    <div
      class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg position-relative py-sm-5 px-4 py-4"
    >
      <div class="w-px-400 mx-auto pt-5 pt-lg-0">
        <!-- ***************************************************************************** personnalisable • ne doit s'afficher que dans le cas d'une connexion cliente -->
        <!-- <div class="container">
          <div class="content">
            <div class="content__container">
              <ul class="content__container__list">
                <li class="content__container__list__item">Reclam +</li>
                <li class="content__container__list__item">Simple</li>
                <li class="content__container__list__item">Puissant</li>
                <li class="content__container__list__item">Flexible</li>
              </ul>
            </div>
          </div>
        </div> -->
        <!-- ***************************************************************************** -->

        <!-- personnalisable • ne doit s'afficher que dans le cas d'une connexion cliente -->
        <!-- <h4 class="mb-2">
          Bienvenue chez {{ AuthService.nom_de_la_structure }} ! 👋
        </h4>
        <p class="mb-4">Veuillez vous connecter à votre compte</p> -->
        <!-- personnalisable • ne doit s'afficher que dans le cas d'une connexion cliente -->

        <!-- personnalisable • ne doit s'afficher que dans le cas d'une connexion operateur et admin -->
        <h4 class="mb-2">Bienvenue sur <strong>Req App</strong> ! 👋</h4>
        <p class="mb-4">Veuillez vous connecter à votre compte</p>
        <!-- personnalisable • ne doit s'afficher que dans le cas d'une connexion operateur et admin -->

        <form class="mb-3" id="formAuthentication" #Connectform="ngForm">
          <div class="form-floating form-floating-outline mb-3">
            <input
              type="text"
              class="form-control"
              id="emailNomUtilisateur"
              name="email-username"
              placeholder="Entrez votre email ou votre nom d'utilisateur"
              autofocus
              minlength="1"
              maxlength="25"
              [(ngModel)]="formLogin.login"
              required=""
            />
            <label for="email">E-mail ou nom d'utilisateur</label>
          </div>
          <div class="mb-3">
            <div class="form-password-toggle">
              <div class="input-group input-group-merge">
                <div class="form-floating form-floating-outline">
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    name="password"
                    minlength="1"
                    maxlength="25"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password"
                    [(ngModel)]="formLogin.mdp"
                    required=""
                  />
                  <label for="password">Mot de passe</label>
                </div>
                <span
                  class="input-group-text cursor-pointer"
                  (click)="ShowHide(false)"
                  *ngIf="infoBtnPassword"
                  ><i class="mdi mdi-eye-off-outline"></i
                ></span>
                <span
                  class="input-group-text cursor-pointer"
                  (click)="ShowHide(true)"
                  *ngIf="!infoBtnPassword"
                  ><i class="mdi mdi-eye-outline"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="mb-3 d-flex justify-content-between flex-wrap">
            <!--  <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="remember-me"
              />
              <label class="form-check-label me-2" for="remember-me">
                Se souvenir de moi
              </label>
            </div> -->
            <a
              routerLink="/login"
              (click)="voirRecuperation()"
              class="float-end mb-1"
            >
              <span>Mot de passe oublié ?</span>
            </a>
          </div>
          <button
            class="bttn btn btn-primary d-grid w-100"
            [disabled]="!Connectform.form.valid"
            (click)="Login()"
          >
            Se connecter
          </button>
        </form>

        <!-- personnalisable • activer ce module lors d'une connexion en tant que client -->
        <p class="text-center mt-2">
          <span>Nouveau sur notre plateforme ?</span> &#160;
          <a (click)="voirTraitement()" style="cursor: pointer; color: #9055fd">
            Faire une reclamation
          </a>
        </p>

        <!--  <div class="divider my-4">
          <div class="divider-text">ou</div>
        </div>

        <div class="d-flex justify-content-center gap-2">
          <a
            href="javascript:;"
            class="bttn btn btn-icon btn-lg rounded-pill btn-text-facebook"
          >
            <i class="tf-icons mdi mdi-24px mdi-facebook"></i>
          </a>

          <a
            href="javascript:;"
            class="bttn btn btn-icon btn-lg rounded-pill btn-text-twitter"
          >
            <i class="tf-icons mdi mdi-24px mdi-twitter"></i>
          </a>

          <a
            href="javascript:;"
            class="bttn btn btn-icon btn-lg rounded-pill btn-text-github"
          >
            <i class="tf-icons mdi mdi-24px mdi-github"></i>
          </a>

          <a
            href="javascript:;"
            class="bttn btn btn-icon btn-lg rounded-pill btn-text-google-plus"
          >
            <i class="tf-icons mdi mdi-24px mdi-google"></i>
          </a>
        </div> -->
      </div>
    </div>
    <!-- /Login -->
  </div>
</div>

<!-- / Content -->
<div
  class="offcanvas offcanvas-end"
  id="sendInvoiceOffcanvas"
  aria-hidden="true"
>
  <div class="offcanvas-header mb-3">
    <h5 class="offcanvas-title">Nouvelle reclamation</h5>
    <button
      type="button"
      class="bttn btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body flex-grow-1">
    <form>
      <div class="form-floating form-floating-outline mb-4">
        <input
          class="form-control"
          type="text"
          id="nom"
          name="nom"
          placeholder="Nom"
          value=""
          autofocus
          [(ngModel)]="formulaire_new_reclam[0].valeur"
        />
        <label for="nom">Nom</label>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        <input
          class="form-control"
          type="text"
          name="prenoms"
          id="prenoms"
          value=""
          placeholder="Prénoms"
          [(ngModel)]="formulaire_new_reclam[1].valeur"
        />
        <label for="prenoms">Prénoms</label>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        <input
          class="form-control"
          type="text"
          id="email"
          name="email"
          value=""
          placeholder="mail@example.com"
          [(ngModel)]="formulaire_new_reclam[2].valeur"
        />
        <label for="email">E-mail</label>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        <div class="form-floating form-floating-outline">
          <input
            type="text"
            id="telephone"
            name="telephone"
            class="form-control"
            placeholder="2250100000000"
            [(ngModel)]="formulaire_new_reclam[3].valeur"
          />
          <label for="telephone">Numéro de téléphone</label>
        </div>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        <div class="form-floating form-floating-outline">
          <input
            type="text"
            id="numCompte"
            name="numCompte"
            class="form-control"
            placeholder="XXXXX"
            [(ngModel)]="formulaire_new_reclam[5].valeur"
          />
          <label for="numCompte">Numéro de compte</label>
        </div>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        <textarea
          class="form-control"
          name="invoice-observation-avis"
          id="invoice-observation-avis"
          style="height: 190px"
          placeholder="Ecrivez votre reclamation"
          [(ngModel)]="formulaire_new_reclam[4].valeur"
        ></textarea>
        <label for="invoice-observation-avis">Observation</label>
      </div>

      <div class="mb-3 d-flex flex-wrap">
        <button
          type="button"
          class="bttn btn btn-primary me-3"
          data-bs-dismiss="offcanvas"
          (click)="SubmitNewReclam(formulaire_new_reclam)"
        >
          Enregistrer
        </button>
        <button
          type="button"
          class="bttn btn btn-outline-secondary"
          data-bs-dismiss="offcanvas"
        >
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>

<!-- / Content -->
<div
  class="offcanvas offcanvas-end"
  id="sendInvoiceOffcanvasMotdepasse"
  aria-hidden="true"
>
  <div class="offcanvas-header mb-3">
    <h5 class="offcanvas-title">
      Faire une demande de recupération de mot de passe
    </h5>
    <button
      type="button"
      class="bttn btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <br /><br /><br /><br /><br /><br />
  <div class="offcanvas-body flex-grow-1">
    <form>
      <div class="form-floating form-floating-outline mb-4">
        <div class="form-floating form-floating-outline">
          <input
            type="text"
            id="EmailRecup"
            name="EmailRecup"
            class="form-control"
            placeholder="2250100000000 ou ....@gmail.com"
            [(ngModel)]="formulaire_recupMdp[0].valeur"
          />
          <label for="EmailRecup">Email ou téléphone</label>
        </div>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        <input
          class="form-control"
          type="text"
          id="LoginRecup"
          name="LoginRecup"
          placeholder="LoginRecup"
          value=""
          autofocus
          [(ngModel)]="formulaire_recupMdp[1].valeur"
        />
        <label for="LoginRecup">Login</label>
      </div>
      <div class="mb-3 d-flex flex-wrap">
        <button
          type="button"
          class="bttn btn btn-primary me-3"
          (click)="Recuperation()"
        >
          Enregistrer
        </button>
      </div>
    </form>
  </div>
</div>

<!-- personnalisable -->
<body>
  <div class="loader" *ngIf="temps_de_latence">
    <div class="inner_loader"></div>
  </div>
</body>

<div
  class="modal fade"
  id="modalToggle"
  aria-labelledby="modalToggleLabel"
  tabindex="-1"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalToggleLabel">Information</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ message }}
      </div>
      <!-- <div class="modal-footer">
        <button
          class="btn btn-primary"
          data-bs-target="#modalToggle2"
          data-bs-toggle="modal"
          data-bs-dismiss="modal"
        >
          Open second modal
        </button>
      </div> -->
    </div>
  </div>
</div>

<div
  class="modal-onboarding modal fade animate__animated"
  id="onboardImageModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header border-0">
        <a
          class="text-muted close-label"
          href="javascript:void(0);"
          data-bs-dismiss="modal"
        ></a>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-0">
        <div class="onboarding-media">
          <div class="mx-2">
            <img
              src="../../assets/img/illustrations/girl-unlock-password-light.png"
              alt="girl-unlock-password-light"
              width="335"
              class="img-fluid"
              data-app-light-img="illustrations/girl-unlock-password-light.png"
              data-app-dark-img="illustrations/girl-unlock-password-dark.png"
            />
          </div>
        </div>
        <div class="onboarding-content mb-0">
          <h4 class="onboarding-title text-body">
            Opération réalisée avec succès !
          </h4>
          <div class="onboarding-info">
            {{ message }}
          </div>
        </div>
      </div>
      <div class="modal-footer border-0">
        <!-- <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Close
                              </button>
                              <button type="button" class="btn btn-primary">Submit</button> -->
      </div>
    </div>
  </div>
</div>
