<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="app-ecommerce">
    <div
      class="faq-header d-flex flex-column justify-content-center align-items-center"
    >
      <h3 class="text-center text-primary mb-2">
        Bonjour, comment pouvons-nous vous aider ?
      </h3>
      <p class="text-body text-center mb-0 px-3">
        ou choisissez une catégorie pour trouver rapidement l'aide dont vous
        avez besoin
      </p>
      <div
        class="input-wrapper my-3 input-group input-group-lg input-group-merge px-sm-5"
      >
        <span class="input-group-text" id="basic-addon1"
          ><i class="mdi mdi-magnify mdi-20px"></i
        ></span>
        <input
          type="text"
          class="form-control"
          placeholder="Poser une question..."
          aria-label="Search"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
    <!-- Add Product -->
    <div
      class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3"
    >
      <div class="d-flex flex-column justify-content-center">
        <h4 class="mb-1 mt-3">Suivi reclamation / plainte</h4>
        <p>Suivez l'évolution de votre plainte ou de votre reclamation</p>
      </div>
    </div>
    <!-- Inventory -->
    <div class="card mb-4">
      <div class="row">
        <!-- Navigation -->
        <div class="card">
          <div class="table-responsive text-nowrap">
            <table class="table">
              <thead>
                <tr>
                  <th>Objet</th>
                  <th>Description</th>
                  <th>Statut</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <tr>
                  <td>
                    <i
                      class="mdi mdi-wallet-travel mdi-20px text-danger me-3"
                    ></i
                    ><span class="fw-medium">{{recupinfo.TR_LIBELLETYEREQUETE}}</span>
                  </td>
                  <td>{{recupinfo.RQ_DESCRIPTIONREQUETE}}</td>
                  <td>
                    <span *ngIf="statutValreq != 'Cloturée'" class="badge rounded-pill bg-label-primary me-1"
                      >{{ statutValreq }}</span
                    >
                    <span *ngIf="statutValreq == 'Cloturée'" class="badge rounded-pill bg-label-danger me-1"
                      >{{ statutValreq }}</span
                    >
                  </td>
                  <td>
                    <div class="dropdown">
                      <button
                        type="button"
                        class="btn p-0 dropdown-toggle hide-arrow"
                        data-bs-toggle="dropdown"
                      >
                        <i class="mdi mdi-dots-vertical"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a
                          class="dropdown-item"
                          href="javascript:void(0);"
                          (click)="voirTraitement('Traitement')"
                          *ngIf="recupinfoconnect[0].TU_CODETYPEUTILISATEUR != '0002'"
                          ><i class="mdi mdi-pencil-outline me-1"></i>
                          Traitement de la requete</a
                        >
                        <a
                          class="dropdown-item"
                          href="javascript:void(0);"
                          (click)="ConsultationTraitement('Consultation')"
                          *ngIf="recupinfoconnect[0].TU_CODETYPEUTILISATEUR == '0002'"
                          ><i class="mdi mdi-progress-clock me-1"></i>
                          Avis</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>
                <!-- <tr>
                  <td>
                    <i class="mdi mdi-basketball mdi-20px text-info me-3"></i
                    ><span class="fw-medium">Sports Project</span>
                  </td>
                  <td>Barry Hunter</td>
                  <td>
                    <span class="badge rounded-pill bg-label-success me-1"
                      >Completed</span
                    >
                  </td>
                  <td>
                    <div class="dropdown">
                      <button
                        type="button"
                        class="btn p-0 dropdown-toggle hide-arrow"
                        data-bs-toggle="dropdown"
                      >
                        <i class="mdi mdi-dots-vertical"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a
                          class="dropdown-item"
                          href="javascript:void(0);"
                          (click)="voirTraitement('Traitement')"
                          ><i class="mdi mdi-pencil-outline me-2"></i>
                          Traitement de la requete</a
                        >
                        <a
                          class="dropdown-item"
                          href="javascript:void(0);"
                          (click)="ConsultationTraitement('Consultation')"
                          ><i class="mdi mdi-progress-clock me-1"></i>
                          Consultation de l'etat d'avancement de la requete</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="mdi mdi-greenhouse mdi-20px text-success me-3"></i
                    ><span class="fw-medium">Greenhouse Project</span>
                  </td>
                  <td>Trevor Baker</td>
                  <td>
                    <span class="badge rounded-pill bg-label-info me-1"
                      >Scheduled</span
                    >
                  </td>
                  <td>
                    <div class="dropdown">
                      <button
                        type="button"
                        class="btn p-0 dropdown-toggle hide-arrow"
                        data-bs-toggle="dropdown"
                      >
                        <i class="mdi mdi-dots-vertical"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a
                          class="dropdown-item"
                          href="javascript:void(0);"
                          (click)="voirTraitement('Traitement')"
                          ><i class="mdi mdi-pencil-outline me-2"></i>
                          Traitement de la requete</a
                        >
                        <a
                          class="dropdown-item"
                          href="javascript:void(0);"
                          (click)="ConsultationTraitement('Consultation')"
                          ><i class="mdi mdi-progress-clock me-1"></i>
                          Consultation de l'etat d'avancement de la requete</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="mdi mdi-bank mdi-20px text-primary me-3"></i
                    ><span class="fw-medium">Bank Project</span>
                  </td>
                  <td>Jerry Milton</td>
                  <td>
                    <span class="badge rounded-pill bg-label-warning me-1"
                      >Pending</span
                    >
                  </td>
                  <td>
                    <div class="dropdown">
                      <button
                        type="button"
                        class="btn p-0 dropdown-toggle hide-arrow"
                        data-bs-toggle="dropdown"
                      >
                        <i class="mdi mdi-dots-vertical"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a
                          class="dropdown-item"
                          href="javascript:void(0);"
                          (click)="voirTraitement('Traitement')"
                          ><i class="mdi mdi-pencil-outline me-2"></i>
                          Traitement de la requete</a
                        >
                        <a
                          class="dropdown-item"
                          href="javascript:void(0);"
                          (click)="ConsultationTraitement('Consultation')"
                          ><i class="mdi mdi-progress-clock me-1"></i>
                          Consultation de l'etat d'avancement de la requete</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>-->
              </tbody>
            </table>
          </div>
        </div>
        <!--/ Basic Bootstrap Table -->
      </div>
    </div>
    <!-- /Inventory -->
  </div>
</div>
<!-- / Content -->

<!-- Content pour le traitement de la requete (plainte ou reclamation)-->
<div
  class="offcanvas offcanvas-end"
  id="sendInvoiceOffcanvas"
  aria-hidden="true"
>
  <div class="offcanvas-header mb-3">
    <h5 class="offcanvas-title">Traitement</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body flex-grow-1">
    <form>
      <div class="form-floating form-floating-outline mb-4">
        <input
          type="text"
          class="form-control"
          id="offcanvasObjet"
          name="offcanvasObjet"
          value=""
          placeholder="Objet de la requete"
          [(ngModel)]="formulaire_suivi[0].valeur"
          readonly
        />
        <label for="offcanvasObjet">Objet</label>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        <div class="form-floating form-floating-outline">
          <select
            id="offCanvasService"
            name="offCanvasService"
            class="select2 form-select"
            data-allow-clear="true"
            [(ngModel)]="formulaire_suivi[2].valeur"
          >
            <option value="">Selectionner</option>
            <option *ngFor="let ListeComboService of tab_service" value="{{ ListeComboService.CODESERVICE }}">{{ ListeComboService.LIBELLE }}</option>
          </select>
          <label for="offCanvasService">Service</label>
        </div>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        <div class="form-floating form-floating-outline">
          <select
            id="offCanvasStatut"
            name="offCanvasStatut"
            class="select2 form-select"
            data-allow-clear="true"
            [(ngModel)]="formulaire_suivi[2].valeur"
          >
            <option value="">Selectionner</option>
            <option *ngFor="let ListeComboStatut of ListeComboStatut" value="{{ ListeComboStatut.RS_CODESTATUTRECEVABILITE }}">{{ ListeComboStatut.RS_LIBELLESTATUTRECEVABILITE }}</option>
          </select>
          <label for="offCanvasStatut">Statut</label>
        </div>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        <textarea
          class="form-control"
          name="invoice-observation"
          id="invoice-observation"
          style="height: 190px"
          placeholder="Observation de l'agent traitant (portant sur la plainte ou la reclamation)"
          [(ngModel)]="formulaire_suivi[3].valeur"
        ></textarea>
        <label for="invoice-observation">Observation</label>
      </div>
      <div class="mb-4">
        <span class="badge bg-label-primary rounded-pill">
          <i class="mdi mdi-link-variant mdi-14px me-1"></i>
          <span class="align-middle">Invoice Attached</span>
        </span>
      </div>
      <!-- Multi  -->
      <div class="col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <form
              action="/upload"
              class="dropzone needsclick"
              id="dropzone-multi-fichier"
            >
              <div class="dz-message needsclick">
                Drop files here or click to upload
                <span class="note needsclick"
                  >(This is just a demo dropzone. Selected files are
                  <span class="fw-medium">not</span> actually uploaded.)</span
                >
              </div>
              <div class="fallback">
                <input [(ngModel)]="formulaire_suivi[4].valeur" (change)="HandleFileInput($event)" name="file" type="file" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Multi  -->

      <div class="mb-3 d-flex flex-wrap">
        <button
          type="button"
          class="btn btn-primary me-3"
          data-bs-dismiss="offcanvas"
          (click)="Valider(formulaire_suivi)"
        >
          Valider
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="offcanvas"
        >
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>

<div
  class="offcanvas offcanvas-end"
  id="sendInvoiceOffcanvas2"
  aria-hidden="true"
>
  <div class="offcanvas-header mb-3">
    <h5 class="offcanvas-title">Consultation et avis</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body flex-grow-1">
    <form>
      <div class="form-floating form-floating-outline mb-4">
        <div class="form-floating form-floating-outline">
          <select
            id="offcanvaSatisfaction"
            name="offcanvaSatisfaction"
            class="select2 form-select"
            data-allow-clear="true"
            [(ngModel)]="formulaire_avis[0].valeur"
          >
            <option value="">Selectionner</option>
            <option *ngFor="let ListeComboSatisfaction of ListeComboSatisfaction" value="{{ ListeComboSatisfaction.NS_CODENIVEAUSATISFACTION }}">{{ ListeComboSatisfaction.NS_LIBELLENIVEAUSATISFACTION }}</option>
          </select>
          <label for="offcanvaSatisfaction">Satisfaction</label>
        </div>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        <textarea
          class="form-control"
          name="invoice-observation-avis"
          id="invoice-observation-avis"
          style="height: 190px"
          placeholder="Observation de l'agent traitant (portant sur la plainte ou la reclamation)"
          [(ngModel)]="formulaire_avis[1].valeur"
        ></textarea>
        <label for="invoice-observation-avis">Observation</label>
      </div>
      <div class="mb-3 d-flex flex-wrap">
        <button
          type="button"
          class="btn btn-primary me-3"
          data-bs-dismiss="offcanvas"
          (click)="EnregistrerAvis(formulaire_avis)"
        >
          Enregistrer
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="offcanvas"
        >
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>
