<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y" *ngIf="affichage_etat">
  <div class="app-ecommerce">
    <!-- Add Product -->
    <div
      class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3"
    >
      <div class="d-flex flex-column justify-content-center">
        <h4 class="mb-1 mt-3">{{ LanguageService.edit_title }}</h4>
        <!-- Edition des états -->
        <p>{{ LanguageService.edit_sub_title }}</p>
        <!-- Editez les états -->
      </div>
      <!-- <div class="d-flex align-content-center flex-wrap gap-3">
          <button class="bttn btn btn-outline-secondary">Discard</button>
          <button class="bttn btn btn-outline-primary">Save draft</button>
          <button type="submit" class="bttn btn btn-primary">Publish product</button>
        </div> -->
    </div>
    <!-- Liste des états -->
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title mb-0">{{ LanguageService.edit_list_title }}</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <!-- Navigation -->
          <div class="col-12 col-md-4 mx-auto card-separator">
            <div
              class="d-flex justify-content-between flex-column mb-3 mb-md-0 pe-md-3"
            >
              <ul class="nav nav-align-left nav-pills flex-column">
                <li class="nav-item">
                  <button
                    class="nav-link {{ active_1 }}"
                    data-bs-toggle="tab"
                    data-bs-target="#etat_bceao"
                    (click)="SelectInvoice('bceao')"
                  >
                    <i class="mdi mdi-cube-outline me-2"></i>
                    <span class="align-middle">Etat BCEAO</span>
                  </button>
                </li>
                <li class="nav-item">
                  <button
                    class="nav-link {{ active_4 }}"
                    data-bs-toggle="tab"
                    data-bs-target="#etat_statistiquehebdo"
                    (click)="SelectInvoice('statistiquehebdomadaire')"
                  >
                    <i class="mdi mdi-cube-outline me-2"></i>
                    <span class="align-middle">Etat statistique hebdomadaire</span>
                  </button>
                </li>
                <li class="nav-item">
                  <button
                    class="nav-link {{ active_2 }}"
                    data-bs-toggle="tab"
                    data-bs-target="#etat_statistique"
                    (click)="SelectInvoice('statistique')"
                  >
                    <i class="mdi mdi-cube-outline me-2"></i>
                    <span class="align-middle">Etat statistique</span>
                  </button>
                </li>
                <li class="nav-item">
                  <button
                    class="nav-link {{ active_3 }}"
                    data-bs-toggle="tab"
                    data-bs-target="#etat_frequence"
                    (click)="SelectInvoice('frequence')"
                  >
                    <i class="mdi mdi-cube-outline me-2"></i>
                    <span class="align-middle"
                      >Fréquence de réception des reclamations</span
                    >
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Navigation -->
          <!-- Options -->
          <div class="col-12 col-md-8 pt-4 pt-md-0">
            <div class="tab-content p-0 pe-xl-0 ps-md-3">
              <!-- etat bceao -->
              <div
                class="tab-pane fade show active"
                id="etat_bceao"
                role="tabpanel"
              >
                <h6 class="text-body" *ngIf="affiche_option_1">Options</h6>
                <div class="row mb-3 g-3" *ngIf="affiche_option_1">
                  <!-- agence -->
                  <div
                  class="form-floating form-floating-outline col-12 col-sm-12 col-lg-12 col-xxl-12"
                  >
                  <div class="card">
                    <h5 class="card-header">Agence</h5>
                    <div class="card-body">
                      <div class="row" id="idAgence">
                        <div  class="col-md-3 mb-md-0 mb-2" *ngFor="let item_agence of tab_agence;let index=index">
                          <div class="form-check custom-option custom-option-label custom-option-basic">
                            <label class="form-check-label custom-option-content" for="customCheckTemp5{{index}}">
                              <input class="form-check-input" type="checkbox"  (change)="VerifyTabAgence(item_agence.AG_CODEAGENCE,item_agence.AG_RAISONSOCIAL_TRANSLATE)" value="{{ item_agence.AG_CODEAGENCE }}" id="customCheckTemp5{{index}}"  />
                              <span class="custom-option-header">
                                <span class=" mb-0" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 10px;">{{ item_agence.AG_RAISONSOCIAL_TRANSLATE }}</span>
                              </span>
                              
                            </label>
                          </div>
                        </div>
                      
                      </div>
                    </div>
                  </div>
                 </div>
                  
                  <!--<div
                    class="form-floating form-floating-outline col-12 col-sm-8 col-lg-12 col-xxl-8"
                  >
                    <select
                      class="form-select"
                      id="idAgence"
                      multiple
                      #agence
                      style="height: 150px;"
                      required
                      [(ngModel)]="formulaire_edition_1[0].valeur"
                      
                    >
                      <option value="">Selectionnez une agence</option>
                      <option
                        *ngFor="let item_agence of tab_agence"
                        value="{{ item_agence.AG_CODEAGENCE }}"
                      >
                        {{ item_agence.AG_RAISONSOCIAL_TRANSLATE }}
                      </option>
                    </select>
                    <label for="idAgence">Agence</label>
                  </div>-->

                  

                  <!-- exercice -->
                  <div
                    class="form-floating form-floating-outline col-12 col-sm-8 col-lg-12 col-xxl-8"
                  >
                    <select
                      class="form-select"
                      id="idExercice"
                      required
                      (change)="resetdate()"
                      [(ngModel)]="formulaire_edition_1[1].valeur"
                    >
                      <option value="">Selectionnez un exercice</option>
                      <option
                        *ngFor="let item_exercice of tab_exercice"
                        value="{{ item_exercice.EX_EXERCICE }}"
                      >
                        {{ item_exercice.EX_EXERCICE }}
                      </option>
                    </select>
                    <label for="idExercice">Exercice</label>
                  </div>
                    <!-- bouton de confirmation -->
                    <div class="col-6 col-sm-4 d-grid col-lg-6 col-xxl-4">
                      <button
                        class="bttn btn btn-primary btn-lg"
                        (click)="ConfirmationOptions('')"
                      >
                        <i class="mdi mdi-check me-2"></i
                        >{{ LanguageService.edit_btn_confirm }}
                      </button>
                    </div>
                    <!-- bouton de confirmation -->
                  <!-- periodicité -->
                  <div
                    class="form-floating form-floating-outline col-12 col-sm-8 col-lg-12 col-xxl-8"
                  >
                    <select
                      class="form-select"
                      id="idPeriodicite"
                      required
                      (change)="
                        ListeComboPeriode(formulaire_edition_1[2].valeur)
                      "
                      [(ngModel)]="formulaire_edition_1[2].valeur"
                    >
                      <option value="">Selectionnez une periodicité</option>
                      <option
                        *ngFor="let item_periodicite of tab_periodicite"
                        value="{{ item_periodicite.PE_CODEPERIODICITE }}"
                      >
                        {{ item_periodicite.PE_LIBELLE }}
                      </option>
                    </select>
                    <label for="idPeriodicite">Périodicité</label>
                  </div>

                  <!-- periode -->
                  <div
                    class="form-floating form-floating-outline col-12 col-sm-8 col-lg-12 col-xxl-8"
                  >
                    <select
                      class="form-select"
                      id="idPeriode"
                      required
                      (change)="
                        ChangeDate(
                          formulaire_edition_1[2].valeur,
                          formulaire_edition_1[3].valeur
                        )
                      "
                      [(ngModel)]="formulaire_edition_1[3].valeur"
                    >
                      <option value="">Selectionnez une période</option>
                      <option
                        *ngFor="let item_periode of tab_periode"
                        value="{{ item_periode.MO_CODEMOIS }}"
                      >
                        {{ item_periode.MO_LIBELLE }}
                      </option>
                    </select>
                    <label for="idPeriode">Période</label>
                  </div>

                  <!-- date de debut -->
                  <div class="col-12 col-sm-8 col-lg-12 col-xxl-8">
                    <div class="form-floating form-floating-outline">
                      <input
                        type="text"
                        class="form-control"
                        id="idDateDebut"
                        placeholder="Entrez une option"
                        name="quantity"
                        aria-label="Quantity"
                        [(ngModel)]="formulaire_edition_1[4].valeur"
                      />
                      <label for="idDateDebut">Date de début</label>
                    </div>
                  </div>

                  <!-- date de fin -->
                  <div class="col-12 col-sm-8 col-lg-12 col-xxl-8">
                    <div class="form-floating form-floating-outline">
                      <input
                        type="text"
                        class="form-control"
                        id="idDateFin"
                        placeholder="Entrez une option"
                        name="quantity"
                        aria-label="Quantity"
                        [(ngModel)]="formulaire_edition_1[5].valeur"
                      />
                      <label for="idDateFin">Date de fin</label>
                    </div>
                  </div>
                </div>
                
              </div>

              <!-- etat statistique hebdomadaire-->
              <div
                class="tab-pane fade show"
                id="etat_statistiquehebdo"
                role="tabpanel"
              >
                <h6 class="text-body" *ngIf="affiche_option_4">Options</h6>
                <div class="row mb-3 g-3" *ngIf="affiche_option_4">
                  <!-- agence -->
                  <div
                  class="form-floating form-floating-outline col-12 col-sm-12 col-lg-12 col-xxl-12"
                  >
                  <div class="card">
                    <h5 class="card-header">Agence</h5>
                    <div class="card-body">
                      <div class="row" id="idAgence">
                        <div  class="col-md-3 mb-md-0 mb-2" *ngFor="let item_agence of tab_agence;let index=index">
                          <div class="form-check custom-option custom-option-label custom-option-basic">
                            <label class="form-check-label custom-option-content" for="customCheckTemp5{{index}}">
                              <input class="form-check-input" type="checkbox"  (change)="VerifyTabAgence(item_agence.AG_CODEAGENCE,item_agence.AG_RAISONSOCIAL_TRANSLATE)" value="{{ item_agence.AG_CODEAGENCE }}" id="customCheckTemp5{{index}}"  />
                              <span class="custom-option-header">
                                <span class=" mb-0" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 10px;">{{ item_agence.AG_RAISONSOCIAL_TRANSLATE }}</span>
                              </span>
                              
                            </label>
                          </div>
                        </div>
                      
                      </div>
                    </div>
                  </div>
                 </div>
                  <!--<div
                    class="form-floating form-floating-outline col-12 col-sm-8 col-lg-12 col-xxl-8"
                  >
                    <select
                      class="form-select"
                      id="idAgence"
                      multiple
                      #agence
                      style="height: 150px;"
                      required
                      [(ngModel)]="formulaire_edition_2[0].valeur"
                    >
                      <option value="">Selectionnez une agence</option>
                      <option
                        *ngFor="let item_agence of tab_agence"
                        value="{{ item_agence.AG_CODEAGENCE }}"
                      >
                        {{ item_agence.AG_RAISONSOCIAL_TRANSLATE }}
                      </option>
                    </select>
                    <label for="idAgence">Agence</label>
                  </div>-->

                   
                 
                 
                </div>

                 <!-- bouton de confirmation -->
                 <div class="col-6 col-sm-4 d-grid col-lg-6 col-xxl-4">
                  <button
                    class="bttn btn btn-primary btn-lg"
                    (click)="ConfirmationOptions('')"
                  >
                    <i class="mdi mdi-check me-2"></i
                    >{{ LanguageService.edit_btn_confirm }}
                  </button>
                </div>
                <!-- bouton de confirmation -->
              </div>

               <!-- etat statistique -->
               <div
                  class="tab-pane fade show"
                  id="etat_statistique"
                  role="tabpanel"
                >
                  <h6 class="text-body" *ngIf="affiche_option_2">Options</h6>
                  <div class="row mb-3 g-3" *ngIf="affiche_option_2">
                    <!-- agence -->
                    <div
                    class="form-floating form-floating-outline col-12 col-sm-12 col-lg-12 col-xxl-12"
                    >
                    <div class="card">
                      <h5 class="card-header">Agence</h5>
                      <div class="card-body">
                        <div class="row" id="idAgence">
                          <div  class="col-md-3 mb-md-0 mb-2" *ngFor="let item_agence of tab_agence;let index=index">
                            <div class="form-check custom-option custom-option-label custom-option-basic">
                              <label class="form-check-label custom-option-content" for="customCheckTemp5{{index}}">
                                <input class="form-check-input" type="checkbox"  (change)="VerifyTabAgence(item_agence.AG_CODEAGENCE,item_agence.AG_RAISONSOCIAL_TRANSLATE)" value="{{ item_agence.AG_CODEAGENCE }}" id="customCheckTemp5{{index}}"  />
                                <span class="custom-option-header">
                                  <span class=" mb-0" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 10px;">{{ item_agence.AG_RAISONSOCIAL_TRANSLATE }}</span>
                                </span>
                                
                              </label>
                            </div>
                          </div>
                        
                        </div>
                      </div>
                    </div>
                   </div>
                  <!-- <div
                      class="form-floating form-floating-outline col-12 col-sm-8 col-lg-12 col-xxl-8"
                    >
                      <select
                        class="form-select"
                        id="idAgence"
                        multiple
                        #agence
                        style="height: 150px;"
                        required
                        [(ngModel)]="formulaire_edition_2[0].valeur"
                      >
                        <option value="">Selectionnez une agence</option>
                        <option
                          *ngFor="let item_agence of tab_agence"
                          value="{{ item_agence.AG_CODEAGENCE }}"
                        >
                          {{ item_agence.AG_RAISONSOCIAL_TRANSLATE }}
                        </option>
                      </select>
                      <label for="idAgence">Agence</label>
                    </div>-->

                    

                    <!-- exercice -->
                    <div
                      class="form-floating form-floating-outline col-12 col-sm-8 col-lg-12 col-xxl-8"
                    >
                      <select
                        class="form-select"
                        id="idExercice"
                        required
                        (change)="resetdate2()"
                        [(ngModel)]="formulaire_edition_2[1].valeur"
                      >
                        <option value="">Selectionnez un exercice/option></option>
                        <option
                          *ngFor="let item_exercice of tab_exercice"
                          value="{{ item_exercice.EX_EXERCICE }}"
                        >
                          {{ item_exercice.EX_EXERCICE }}
                        </option>
                      </select>
                      <label for="idExercice">Exercice</label>
                    </div>
                      <!-- bouton de confirmation -->
                      <div class="col-6 col-sm-4 d-grid col-lg-6 col-xxl-4">
                        <button
                          class="bttn btn btn-primary btn-lg"
                          (click)="ConfirmationOptions('')"
                        >
                          <i class="mdi mdi-check me-2"></i
                          >{{ LanguageService.edit_btn_confirm }}
                        </button>
                      </div>
                      <!-- bouton de confirmation -->
                    <!-- periodicité -->
                    <div
                      class="form-floating form-floating-outline col-12 col-sm-8 col-lg-12 col-xxl-8"
                    >
                      <select
                        class="form-select"
                        id="idPeriodicite"
                        required
                        [(ngModel)]="formulaire_edition_2[2].valeur"
                        (change)="
                          ListeComboPeriode(formulaire_edition_2[2].valeur)
                        "
                      >
                        <option value="">Selectionnez une périodicité</option>
                        <option
                          *ngFor="let item_periodicite of tab_periodicite"
                          value="{{ item_periodicite.PE_CODEPERIODICITE }}"
                        >
                          {{ item_periodicite.PE_LIBELLE }}
                        </option>
                      </select>
                      <label for="idPeriodicite">Périodicité</label>
                    </div>

                    <!-- periode -->
                    <div
                      class="form-floating form-floating-outline col-12 col-sm-8 col-lg-12 col-xxl-8"
                    >
                      <select
                        class="form-select"
                        id="idPeriode"
                        required
                        (change)="
                          ChangeDate(
                            formulaire_edition_2[2].valeur,
                            formulaire_edition_2[3].valeur
                          )
                        "
                        [(ngModel)]="formulaire_edition_2[3].valeur"
                      >
                        <option value="">Selectionnez une période</option>
                        <option
                          *ngFor="let item_periode of tab_periode"
                          value="{{ item_periode.MO_CODEMOIS }}"
                        >
                          {{ item_periode.MO_LIBELLE }}
                        </option>
                      </select>
                      <label for="idPeriode">Période</label>
                    </div>

                    <!-- date de debut -->
                    <div class="col-12 col-sm-8 col-lg-12 col-xxl-8">
                      <div class="form-floating form-floating-outline">
                        <input
                          type="text"
                          class="form-control"
                          id="idDateDebut"
                          placeholder="Entrez une option"
                          name="quantity"
                          aria-label="Quantity"
                          [(ngModel)]="formulaire_edition_2[4].valeur"
                        />
                        <label for="idDateDebut">Date de début</label>
                      </div>
                    </div>

                    <!-- date de fin -->
                    <div class="col-12 col-sm-8 col-lg-12 col-xxl-8">
                      <div class="form-floating form-floating-outline">
                        <input
                          type="text"
                          class="form-control"
                          id="idDateFin"
                          placeholder="Entrez une option"
                          name="quantity"
                          aria-label="Quantity"
                          [(ngModel)]="formulaire_edition_2[5].valeur"
                        />
                        <label for="idDateFin">Date de fin</label>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- etat frequence -->
              <div
                class="tab-pane fade show"
                id="etat_frequence"
                role="tabpanel"
              >
                <h6 class="text-body" *ngIf="affiche_option_3">Options</h6>
                <div class="row mb-3 g-3" *ngIf="affiche_option_3">
                  <!-- agence -->

                  <div
                  class="form-floating form-floating-outline col-12 col-sm-12 col-lg-12 col-xxl-12"
                  >
                  <div class="card">
                    <h5 class="card-header">Agence</h5>
                    <div class="card-body">
                      <div class="row" id="idAgence">
                        <div  class="col-md-3 mb-md-0 mb-2" *ngFor="let item_agence of tab_agence;let index=index">
                          <div class="form-check custom-option custom-option-label custom-option-basic">
                            <label class="form-check-label custom-option-content" for="customCheckTemp5{{index}}">
                              <input class="form-check-input" type="checkbox"  (change)="VerifyTabAgence(item_agence.AG_CODEAGENCE,item_agence.AG_RAISONSOCIAL_TRANSLATE)" value="{{ item_agence.AG_CODEAGENCE }}" id="customCheckTemp5{{index}}"  />
                              <span class="custom-option-header">
                                <span class=" mb-0" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 10px;">{{ item_agence.AG_RAISONSOCIAL_TRANSLATE }}</span>
                              </span>
                              
                            </label>
                          </div>
                        </div>
                      
                      </div>
                    </div>
                  </div>
                 </div>


                <!-- <div
                    class="form-floating form-floating-outline col-12 col-sm-8 col-lg-12 col-xxl-8"
                  >
                    <select
                      class="form-select"
                      id="idAgence"
                      multiple
                      #agence
                      style="height: 150px;"
                      required
                      [(ngModel)]="formulaire_edition_3[0].valeur"
                    >
                      <option value="">Selectionnez une agence</option>
                      <option
                        *ngFor="let item_agence of tab_agence"
                        value="{{ item_agence.AG_CODEAGENCE }}"
                      >
                        {{ item_agence.AG_RAISONSOCIAL_TRANSLATE }}
                      </option>
                    </select>
                    <label for="idAgence">Agence</label>
                  </div>-->

                  

                  <!-- exercice -->
                  <div
                    class="form-floating form-floating-outline col-12 col-sm-8 col-lg-12 col-xxl-8"
                  >
                    <select
                      class="form-select"
                      id="idExercice"
                      required
                      (change)="resetdate3()"
                      [(ngModel)]="formulaire_edition_3[1].valeur"
                    >
                      <option value="">Selectionnez un exercice</option>
                      <option
                        *ngFor="let item_exercice of tab_exercice"
                        value="{{ item_exercice.EX_EXERCICE }}"
                      >
                        {{ item_exercice.EX_EXERCICE }}
                      </option>
                    </select>
                    <label for="idExercice">Exercice</label>
                  </div>
                  <!-- bouton de confirmation -->
                  <div class="col-6 col-sm-4 d-grid col-lg-6 col-xxl-4">
                    <button
                      class="bttn btn btn-primary btn-lg"
                      (click)="ConfirmationOptions('')"
                    >
                      <i class="mdi mdi-check me-2"></i
                      >{{ LanguageService.edit_btn_confirm }}
                    </button>
                  </div>
                  <!-- bouton de confirmation -->
                  <!-- periodicité -->
                  <div
                    class="form-floating form-floating-outline col-12 col-sm-8 col-lg-12 col-xxl-8"
                  >
                    <select
                      class="form-select"
                      id="idPeriodicite"
                      required
                      [(ngModel)]="formulaire_edition_3[2].valeur"
                      (change)="
                        ListeComboPeriode(formulaire_edition_3[2].valeur)
                      "
                    >
                      <option value="">Selectionnez une périodicité</option>
                      <option
                        *ngFor="let item_periodicite of tab_periodicite"
                        value="{{ item_periodicite.PE_CODEPERIODICITE }}"
                      >
                        {{ item_periodicite.PE_LIBELLE }}
                      </option>
                    </select>
                    <label for="idPeriodicite">Périodicité</label>
                  </div>

                  <!-- periode -->
                  <div
                    class="form-floating form-floating-outline col-12 col-sm-8 col-lg-12 col-xxl-8"
                  >
                    <select
                      class="form-select"
                      id="idPeriode"
                      required
                      (change)="
                        ChangeDate(
                          formulaire_edition_3[2].valeur,
                          formulaire_edition_3[3].valeur
                        )
                      "
                      [(ngModel)]="formulaire_edition_3[3].valeur"
                    >
                      <option value="">Selectionnez une période</option>
                      <option
                        *ngFor="let item_periode of tab_periode"
                        value="{{ item_periode.MO_CODEMOIS }}"
                      >
                        {{ item_periode.MO_LIBELLE }}
                      </option>
                    </select>
                    <label for="idPeriode">Période</label>
                  </div>

                  <!-- date de debut -->
                  <div class="col-12 col-sm-8 col-lg-12 col-xxl-8">
                    <div class="form-floating form-floating-outline">
                      <input
                        type="text"
                        class="form-control"
                        id="idDateDebut"
                        placeholder="Entrez une option"
                        name="quantity"
                        aria-label="Quantity"
                        [(ngModel)]="formulaire_edition_3[4].valeur"
                      />
                      <label for="idDateDebut">Date de début</label>
                    </div>
                  </div>

                  <!-- date de fin -->
                  <div class="col-12 col-sm-8 col-lg-12 col-xxl-8">
                    <div class="form-floating form-floating-outline">
                      <input
                        type="text"
                        class="form-control"
                        id="idDateFin"
                        placeholder="Entrez une option"
                        name="quantity"
                        aria-label="Quantity"
                        [(ngModel)]="formulaire_edition_3[5].valeur"
                      />
                      <label for="idDateFin">Date de fin</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Options-->
        </div>
      </div>
    </div>
    <!-- /Inventory -->
  </div>
</div>
<!-- / Content -->

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y" *ngIf="!affichage_etat">
  <div class="row invoice-preview">
    <!-- Invoice -->
    <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
      <div class="card invoice-preview-card">
        <div class="card-body">
          <div
            class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column"
          >
            <div class="mb-xl-0 pb-3">
              <div
                class="d-flex svg-illustration align-items-center gap-2 mb-4"
              >
                <span class="app-brand-logo demo">
                  <span style="color: var(--bs-primary)">
                    <svg
                      width="30"
                      height="24"
                      viewBox="0 0 250 196"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.3002 1.25469L56.655 28.6432C59.0349 30.1128 60.4839 32.711 60.4839 35.5089V160.63C60.4839 163.468 58.9941 166.097 56.5603 167.553L12.2055 194.107C8.3836 196.395 3.43136 195.15 1.14435 191.327C0.395485 190.075 0 188.643 0 187.184V8.12039C0 3.66447 3.61061 0.0522461 8.06452 0.0522461C9.56056 0.0522461 11.0271 0.468577 12.3002 1.25469Z"
                        fill="currentColor"
                      />
                      <path
                        opacity="0.077704"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M0 65.2656L60.4839 99.9629V133.979L0 65.2656Z"
                        fill="black"
                      />
                      <path
                        opacity="0.077704"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M0 65.2656L60.4839 99.0795V119.859L0 65.2656Z"
                        fill="black"
                      />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M237.71 1.22393L193.355 28.5207C190.97 29.9889 189.516 32.5905 189.516 35.3927V160.631C189.516 163.469 191.006 166.098 193.44 167.555L237.794 194.108C241.616 196.396 246.569 195.151 248.856 191.328C249.605 190.076 250 188.644 250 187.185V8.09597C250 3.64006 246.389 0.027832 241.935 0.027832C240.444 0.027832 238.981 0.441882 237.71 1.22393Z"
                        fill="currentColor"
                      />
                      <path
                        opacity="0.077704"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M250 65.2656L189.516 99.8897V135.006L250 65.2656Z"
                        fill="black"
                      />
                      <path
                        opacity="0.077704"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M250 65.2656L189.516 99.0497V120.886L250 65.2656Z"
                        fill="black"
                      />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z"
                        fill="currentColor"
                      />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.2787 1.18923L125 70.3075V136.87L0 65.2465V8.06814C0 3.61223 3.61061 0 8.06452 0C9.552 0 11.0105 0.411583 12.2787 1.18923Z"
                        fill="white"
                        fill-opacity="0.15"
                      />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z"
                        fill="currentColor"
                      />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M237.721 1.18923L125 70.3075V136.87L250 65.2465V8.06814C250 3.61223 246.389 0 241.935 0C240.448 0 238.99 0.411583 237.721 1.18923Z"
                        fill="white"
                        fill-opacity="0.3"
                      />
                    </svg>
                  </span>
                </span>
                <span class="h4 mb-0 app-brand-text fw-semibold">Materio</span>
              </div>
              <p class="mb-1">Office 149, 450 South Brand Brooklyn</p>
              <p class="mb-1">San Diego County, CA 91905, USA</p>
              <p class="mb-0">+1 (123) 456 7891, +44 (876) 543 2198</p>
            </div>
            <div>
              <h4 class="fw-medium text-capitalize pb-1 text-nowrap">
                INVOICE #86423
              </h4>
              <div class="mb-1">
                <span>Date Issues:</span>
                <span>April 25, 2021</span>
              </div>
              <div>
                <span>Date Due:</span>
                <span>May 25, 2021</span>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-0" />
        <div class="card-body">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="my-3 me-3">
              <h6>Invoice To:</h6>
              <p class="mb-1">Thomas shelby</p>
              <p class="mb-1">Shelby Company Limited</p>
              <p class="mb-1">Small Heath, B10 0HF, UK</p>
              <p class="mb-1">718-986-6062</p>
              <p class="mb-0">peakyFBlinders@gmail.com</p>
            </div>
            <div class="my-3">
              <h6>Bill To:</h6>
              <table>
                <tbody>
                  <tr>
                    <td class="pe-3">Total Due:</td>
                    <td>$12,110.55</td>
                  </tr>
                  <tr>
                    <td class="pe-3">Bank name:</td>
                    <td>American Bank</td>
                  </tr>
                  <tr>
                    <td class="pe-3">Country:</td>
                    <td>United States</td>
                  </tr>
                  <tr>
                    <td class="pe-3">IBAN:</td>
                    <td>ETD95476213874685</td>
                  </tr>
                  <tr>
                    <td class="pe-3">SWIFT code:</td>
                    <td>BR91905</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-borderless m-0">
            <thead class="border-top">
              <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Cost</th>
                <th>Qty</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-nowrap text-heading">Vuexy Admin Template</td>
                <td class="text-nowrap">HTML Admin Template</td>
                <td>$32</td>
                <td>1</td>
                <td>$32.00</td>
              </tr>
              <tr>
                <td class="text-nowrap text-heading">Frest Admin Template</td>
                <td class="text-nowrap">Angular Admin Template</td>
                <td>$22</td>
                <td>1</td>
                <td>$22.00</td>
              </tr>
              <tr>
                <td class="text-nowrap text-heading">Apex Admin Template</td>
                <td class="text-nowrap">HTML Admin Template</td>
                <td>$17</td>
                <td>2</td>
                <td>$34.00</td>
              </tr>
              <tr class="border-bottom">
                <td class="text-nowrap text-heading">Robust Admin Template</td>
                <td class="text-nowrap">React Admin Template</td>
                <td>$66</td>
                <td>1</td>
                <td>$66.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr class="my-0" />
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 mb-md-0 mb-3">
              <div>
                <p class="mb-2">
                  <span class="me-1 text-heading">Salesperson:</span>
                  <span>Alfie Solomons</span>
                </p>
                <span>Thanks for your business</span>
              </div>
            </div>
            <div class="col-md-6 d-flex justify-content-md-end mt-2">
              <div class="invoice-calculations">
                <div class="d-flex justify-content-between mb-2">
                  <span class="w-px-100">Subtotal:</span>
                  <h6 class="mb-0 pt-1">$5000.25</h6>
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <span class="w-px-100">Discount:</span>
                  <h6 class="mb-0 pt-1">$00.00</h6>
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <span class="w-px-100">Tax:</span>
                  <h6 class="mb-0 pt-1">$100.00</h6>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                  <span class="w-px-100">Total:</span>
                  <h6 class="mb-0 pt-1">$5100.25</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-0" />

        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <span class="fw-medium">Note:</span>
              <span
                >It was a pleasure working with you and your team. We hope you
                will keep us in mind for future freelance projects. Thank
                You!</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Invoice -->

    <!-- Invoice Actions -->
    <div class="col-xl-3 col-md-4 col-12 invoice-actions">
      <div class="card">
        <div class="card-body">
          <button
            class="bttn btn btn-primary d-grid w-100 mb-3"
            data-bs-toggle="offcanvas"
            data-bs-target="#sendInvoiceOffcanvas"
          >
            <span
              class="d-flex align-items-center justify-content-center text-nowrap"
              ><i class="mdi mdi-send-outline scaleX-n1-rtl me-2"></i
              >Aperçu</span
            >
          </button>
          <button
            class="bttn btn btn-outline-secondary d-grid w-100 mb-3"
            (click)="ConfirmationOptions('retour')"
          >
            Retour
          </button>
        </div>
      </div>
    </div>
    <!-- /Invoice Actions -->
  </div>
</div>
<!-- / Content -->
