.cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
}

.cards .red {
  background-color: #3a5683;
}

.cards .white {
  background-color: #3a5683;
  color: black;
}

.cards .blue {
  background-color: #3a5683;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  color: rgb(1, 1, 1);
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
