<body>
  <div class="cards">
    <div class="card red" (click)="RedirectionVersApp()">
      <p class="tip">Application 1</p>
      <p class="second-text">Zenith</p>
    </div>
    <div class="card blue" (click)="RedirectionVersApp()">
      <p class="tip">Application 2</p>
      <p class="second-text">Tontine</p>
    </div>
    <div class="card green" (click)="RedirectionVersApp()">
      <p class="tip">Application 3</p>
      <p class="second-text">Geolocalisation</p>
    </div>
  </div>
</body>
