<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row gy-4 justify-content-center">
      <!-- Congratulations card -->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-body" routerLink="/admin/prestation/restauration">
          <h4 class="card-title mb-1">Restauration</h4>
          <p class="pb-0">Best seller of the month</p>
        </div>
        <img
          src="../../assets/img/icons/misc/triangle-light.png"
          class="scaleX-n1-rtl position-absolute bottom-0 end-0"
          width="166"
          alt="triangle background"
          data-app-light-img="icons/misc/triangle-light.png"
          data-app-dark-img="icons/misc/triangle-dark.png" />
        <img
          src="../../assets/img/illustrations/trophy.png"
          class="scaleX-n1-rtl position-absolute bottom-0 end-0 me-4 mb-4 pb-2"
          width="83"
          alt="view sales" />
      </div>
    </div>
    <!--/ Congratulations card -->

    <!-- Congratulations card -->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-body" routerLink="/admin/prestation/autresPrestation">
          <h4 class="card-title mb-1">Autres prestations</h4>
          <p class="pb-0">Best seller of the month</p>
        </div>
        <img
          src="../../assets/img/icons/misc/triangle-light.png"
          class="scaleX-n1-rtl position-absolute bottom-0 end-0"
          width="166"
          alt="triangle background"
          data-app-light-img="icons/misc/triangle-light.png"
          data-app-dark-img="icons/misc/triangle-dark.png" />
        <img
          src="../../assets/img/illustrations/trophy.png"
          class="scaleX-n1-rtl position-absolute bottom-0 end-0 me-4 mb-4 pb-2"
          width="83"
          alt="view sales" />
      </div>
    </div>
    <!--/ Congratulations card -->
    </div>
  </div>

