<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <div
      class="faq-header d-flex flex-column justify-content-center align-items-center"
    >
      <h3 class="text-center text-primary mb-2">
        Bonjour, comment pouvons-nous vous aider ?
      </h3>
      <p class="text-body text-center mb-0 px-3">
        trouvez plus rapidement les clients en les recherchant par leur code
      </p>
      <div
        class="input-wrapper my-3 input-group input-group-lg input-group-merge px-sm-5"
      >
        <input
          type="text"
          class="form-control"
          placeholder="Code du client"
          name="SearchPersonal"
          aria-label="Search"
          aria-describedby="basic-addon1"
          [(ngModel)]="SearchValue"
          *ngIf="recupinfo[0].TU_CODETYPEUTILISATEUR != '0002'"
        />
        <span
          class="input-group-text"
          *ngIf="recupinfo[0].TU_CODETYPEUTILISATEUR != '0002'"
          id="basic-addon1"
          (click)="RechercherSelonEcran()"
          ><i class="mdi mdi-magnify mdi-20px"></i
        ></span>
      </div>
    </div>

    <div class="row mt-4">
      <!-- Navigation -->
      <div class="col-lg-3 col-md-4 col-12 mb-md-0 mb-3">
        <div class="d-flex justify-content-between flex-column mb-2 mb-md-0">
          <ul class="nav nav-align-left nav-pills flex-column flex-nowrap">
            <li class="nav-item">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#payment"
              >
                <i class="mdi mdi-playlist-edit mdi-24px"></i>
                <span
                  class="align-middle"
                  (click)="checkStatusForm('Nouvelles')"
                  >Nouvelles reclamations</span
                >
              </button>
            </li>
            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#delivery"
                (click)="checkStatusForm('Liste')"
              >
                <i class="mdi mdi-dots-vertical mdi-24px"></i>
                <span class="align-middle">Liste des reclamations</span>
              </button>
            </li>
          </ul>
          <div class="d-none d-md-block">
            <div class="mt-5 text-center">
              <img
                src="../../assets/img/illustrations/illustration-john.png"
                class="img-fluid w-px-300"
                alt="FAQ Image"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- /Navigation -->

      <!-- FAQ's -->
      <div class="col-lg-9 col-md-8 col-12">
        <div class="tab-content p-0">
          <div class="tab-pane fade show active" id="payment" role="tabpanel">
            <div class="d-flex mb-3 gap-3">
              <div class="avatar avatar-md">
                <div class="avatar-initial bg-label-primary rounded">
                  <i class="mdi mdi-playlist-edit mdi-24px"></i>
                </div>
              </div>
              <div>
                <h5 class="mb-1">
                  <span class="align-middle">Nouvelles reclamations</span>
                </h5>
                <span>Soumettez-nous votre reclamation</span>
              </div>
            </div>
            <!-- Form with Tabs -->
            <div class="row">
              <div class="col">
                <h6 class="mt-4">Formulaire</h6>
                <div class="card mb-3">
                  <div class="card-header" *ngIf="statutClientExiste">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <button
                          class="nav-link active"
                          data-bs-toggle="tab"
                          data-bs-target="#form-tabs-personal"
                          role="tab"
                          aria-selected="true"
                        >
                          <span
                            class="mdi mdi-account mdi-20px d-sm-none"
                          ></span
                          ><span class="d-none d-sm-block"
                            >information personnelle</span
                          >
                        </button>
                      </li>
                      <li class="nav-item">
                        <button
                          class="nav-link"
                          data-bs-toggle="tab"
                          data-bs-target="#form-tabs-account"
                          role="tab"
                          aria-selected="false"
                        >
                          <span
                            class="mdi mdi-account-details mdi-20px d-sm-none"
                          ></span
                          ><span class="d-none d-sm-block"
                            >information sur la reclamation</span
                          >
                        </button>
                      </li>
                    </ul>
                  </div>

                  <div class="tab-content" *ngIf="statutClientExiste">
                    <!-- Personal Info -->
                    <div
                      class="tab-pane fade active show"
                      id="form-tabs-personal"
                      role="tabpanel"
                    >
                      <form>
                        <div class="row g-3">
                          <div class="col-md-6">
                            <div class="row">
                              <label
                                class="col-sm-3 col-form-label text-sm-end"
                                for="formtabs-first-name"
                                >Numero de compte client</label
                              >
                              <div class="col-sm-9">
                                <input
                                  type="text"
                                  name="num-cpte-clt"
                                  id="formtabs-num-cpte-clt"
                                  class="form-control"
                                  placeholder="*********"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[0].valeur
                                  "
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <label
                                class="col-sm-3 col-form-label text-sm-end"
                                for="formtabs-last-name"
                                >Nom et prénoms</label
                              >
                              <div class="col-sm-9">
                                <input
                                  type="text"
                                  name="nom-prenoms"
                                  id="formtabs-nom-prenoms"
                                  class="form-control"
                                  placeholder="Entrez votre nom et vos prénoms"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[1].valeur
                                  "
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <label
                                class="col-sm-3 col-form-label text-sm-end"
                                for="formtabs-phone"
                                >Téléphone</label
                              >
                              <div class="col-sm-9">
                                <input
                                  type="text"
                                  name="telephone"
                                  id="formtabs-telephone"
                                  class="form-control phone-mask"
                                  placeholder="01 XX XX XX XX"
                                  aria-label="658 799 8941"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[2].valeur
                                  "
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <label
                                class="col-sm-3 col-form-label text-sm-end"
                                for="formtabs-country"
                                >Agence</label
                              >
                              <div class="col-sm-9">
                                <select
                                  id="formtabs-agence"
                                  name="agence"
                                  class="select2 form-select"
                                  data-allow-clear="true"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[3].valeur
                                  "
                                >
                                  <option
                                    *ngFor="let ListAgence of ListeComboAgence"
                                    value="{{ ListAgence.AG_CODEAGENCE }}"
                                  >
                                    {{ ListAgence.AG_RAISONSOCIAL }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <label
                                class="col-sm-3 col-form-label text-sm-end"
                                for="formtabs-last-Localisation"
                                >Localisation</label
                              >
                              <div class="col-sm-9">
                                <input
                                  type="text"
                                  name="Localisation"
                                  id="formtabs-Localisation"
                                  class="form-control"
                                  placeholder="Lieu d'habitation"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[4].valeur
                                  "
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <label
                                class="col-sm-3 col-form-label text-sm-end"
                                for="formtabs-last-Email"
                                >Email</label
                              >
                              <div class="col-sm-9">
                                <input
                                  type="text"
                                  name="Email"
                                  id="formtabs-Email"
                                  class="form-control"
                                  placeholder="Email"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[10].valeur
                                  "
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <label
                                class="col-sm-3 col-form-label text-sm-end"
                                for="formtabs-last-Login"
                                >Login</label
                              >
                              <div class="col-sm-9">
                                <input
                                  type="text"
                                  name="Login"
                                  id="formtabs-Login"
                                  class="form-control"
                                  placeholder="Login"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[11].valeur
                                  "
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <label
                                class="col-sm-3 col-form-label text-sm-end"
                                for="formtabs-last-passe"
                                >Mot de passe</label
                              >
                              <div class="col-sm-9">
                                <input
                                  type="text"
                                  name="passe"
                                  id="formtabs-passe"
                                  class="form-control"
                                  placeholder="Mot de passe"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[12].valeur
                                  "
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <!-- Account Details -->
                    <div
                      class="tab-pane fade"
                      id="form-tabs-account"
                      role="tabpanel"
                    >
                      <form>
                        <div class="row g-3">
                          <div class="col">
                            <div class="row">
                              <label
                                class="col col-form-label text-sm-end"
                                for="formtabs-country"
                                >Type de reclamation</label
                              >
                              <div class="col">
                                <select
                                  id="formtabs-type-plainte"
                                  name="type-plainte"
                                  class="select2 form-select"
                                  data-allow-clear="true"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[5].valeur
                                  "
                                >
                                  <option
                                    *ngFor="
                                      let ListTypeRequete of this
                                        .ListeTypeRequete_1
                                    "
                                    value="{{
                                      ListTypeRequete.TR_CODETYEREQUETE
                                    }}"
                                  >
                                    {{ ListTypeRequete.TR_LIBELLETYEREQUETE }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="form-floating form-floating-outline mb-4">
                            <textarea
                              class="form-control"
                              name="invoice-message"
                              id="invoice-description"
                              style="height: 190px"
                              [(ngModel)]="
                                formulaire_plaintes_reclamations[6].valeur
                              "
                            ></textarea>
                            <label for="invoice-message"
                              >Description de la reclamation</label
                            >
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <label
                                class="col-sm-3 col-form-label text-sm-end"
                                for="formtabs-country"
                                >Mode de collecte</label
                              >
                              <div class="col-sm-9">
                                <select
                                  id="formtabs-mode-collecte"
                                  name="mode-collecte"
                                  class="select2 form-select"
                                  data-allow-clear="true"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[7].valeur
                                  "
                                >
                                  <option
                                    *ngFor="
                                      let ListComboModeCollecte of ListeComboModeCollecte
                                    "
                                    value="{{
                                      ListComboModeCollecte.MC_CODEMODECOLLETE
                                    }}"
                                  >
                                    {{
                                      ListComboModeCollecte.MC_LIBELLEMODECOLLETE
                                    }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <label
                                class="col-sm-3 col-form-label text-sm-end"
                                for="formtabs-username"
                                >Nom agent</label
                              >
                              <div class="col-sm-9">
                                <input
                                  type="text"
                                  name="nom-agent"
                                  id="formtabs-nom-agent"
                                  class="form-control"
                                  placeholder="Entrez un nom"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[8].valeur
                                  "
                                  readonly=""
                                />
                              </div>
                            </div>
                          </div>
                          <!-- Multi  -->
                          <div class="col-12 mb-6">
                            <!-- <div class="card"> -->
                            <div class="card-body">
                              <form
                                action="/upload"
                                class="dropzone needsclick"
                                id="dropzone-multi-fichier"
                              >
                                <div class="dz-message needsclick">
                                  Drop files here or click to upload
                                  <span class="note needsclick"
                                    >(This is just a demo dropzone. Selected
                                    files are
                                    <span class="fw-medium">not</span>
                                    actually uploaded.)</span
                                  >
                                </div>
                                <div class="fallback">
                                  <input
                                    name="file"
                                    type="file"
                                    [(ngModel)]="
                                      formulaire_plaintes_reclamations[9].valeur
                                    "
                                    (change)="handleFileInput($event)"
                                  />
                                </div>
                              </form>
                            </div>
                            <!-- </div> -->
                          </div>
                          <!-- Multi  -->
                        </div>
                        <div class="row mt-4">
                          <div class="col-md-6">
                            <div class="row justify-content-end">
                              <div class="col-sm-9">
                                <button
                                  type="submit"
                                  class="btn btn-primary me-sm-3 me-1"
                                  (click)="
                                    EnregistrementCompteClient(
                                      formulaire_plaintes_reclamations
                                    )
                                  "
                                >
                                  Enregistrer
                                </button>
                                <button
                                  type="reset"
                                  class="btn btn-outline-secondary"
                                >
                                  Annuler
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="card-header" *ngIf="!statutClientExiste">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <button
                          class="nav-link active"
                          data-bs-toggle="tab"
                          data-bs-target="#form-tabs-account"
                          role="tab"
                          aria-selected="false"
                        >
                          <span
                            class="mdi mdi-account-details mdi-20px d-sm-none"
                          ></span
                          ><span class="d-none d-sm-block"
                            >information sur la reclamation de
                            {{ ListeClients[0]?.CU_NOMUTILISATEUR }}</span
                          >
                        </button>
                      </li>
                    </ul>
                  </div>

                  <div class="tab-content" *ngIf="!statutClientExiste">
                    <!-- Account Details -->
                    <div
                      class="tab-pane fade active show"
                      id="form-tabs-account"
                      role="tabpanel"
                    >
                      <form>
                        <div class="row g-3">
                          <div class="col-md-6">
                            <div class="row">
                              <label
                                class="col-sm-3 col-form-label text-sm-end"
                                for="formtabs-country"
                                >Type de reclamation</label
                              >
                              <div class="col-sm-9">
                                <select
                                  id="formtabs-type-plainte"
                                  name="type-plainte"
                                  class="select2 form-select"
                                  data-allow-clear="true"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[5].valeur
                                  "
                                >
                                  <option
                                    *ngFor="
                                      let ListTypeRequete of this
                                        .ListeTypeRequete_1
                                    "
                                    value="{{
                                      ListTypeRequete.TR_CODETYEREQUETE
                                    }}"
                                  >
                                    {{ ListTypeRequete.TR_LIBELLETYEREQUETE }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="form-floating form-floating-outline mb-4">
                            <textarea
                              class="form-control"
                              name="invoice-message"
                              id="invoice-description"
                              style="height: 190px"
                              [(ngModel)]="
                                formulaire_plaintes_reclamations[6].valeur
                              "
                            ></textarea>
                            <label for="invoice-message"
                              >Description de la reclamation</label
                            >
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <label
                                class="col-sm-3 col-form-label text-sm-end"
                                for="formtabs-country"
                                >Mode de collecte</label
                              >
                              <div class="col-sm-9">
                                <select
                                  id="formtabs-mode-collecte"
                                  name="mode-collecte"
                                  class="select2 form-select"
                                  data-allow-clear="true"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[7].valeur
                                  "
                                >
                                  <option
                                    *ngFor="
                                      let ListComboModeCollecte of ListeComboModeCollecte
                                    "
                                    value="{{
                                      ListComboModeCollecte.MC_CODEMODECOLLETE
                                    }}"
                                  >
                                    {{
                                      ListComboModeCollecte.MC_LIBELLEMODECOLLETE
                                    }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <label
                                class="col-sm-3 col-form-label text-sm-end"
                                for="formtabs-username"
                                >Nom agent</label
                              >
                              <div class="col-sm-9">
                                <input
                                  type="text"
                                  name="nom-agent"
                                  id="formtabs-nom-agent"
                                  class="form-control"
                                  placeholder="Entrez un nom"
                                  [(ngModel)]="
                                    formulaire_plaintes_reclamations[8].valeur
                                  "
                                  readonly=""
                                />
                              </div>
                            </div>
                          </div>
                          <!-- Multi  -->
                          <div class="col-12 mb-6">
                            <!-- <div class="card"> -->
                            <div class="card-body">
                              <form
                                action="/upload"
                                class="dropzone needsclick"
                                id="dropzone-multi-fichier"
                              >
                                <div class="dz-message needsclick">
                                  Drop files here or click to upload
                                  <span class="note needsclick"
                                    >(This is just a demo dropzone. Selected
                                    files are
                                    <span class="fw-medium">not</span>
                                    actually uploaded.)</span
                                  >
                                </div>
                                <div class="fallback">
                                  <input
                                    name="file"
                                    type="file"
                                    [(ngModel)]="
                                      formulaire_plaintes_reclamations[9].valeur
                                    "
                                    (change)="handleFileInput($event)"
                                  />
                                </div>
                              </form>
                            </div>
                            <!-- </div> -->
                          </div>
                          <!-- Multi  -->
                        </div>
                        <div class="row mt-4">
                          <div class="col-md-6">
                            <div class="row justify-content-end">
                              <div class="col-sm-9">
                                <button
                                  type="submit"
                                  class="btn btn-primary me-sm-3 me-1"
                                  (click)="
                                    EnregistrementRequete(
                                      formulaire_plaintes_reclamations
                                    )
                                  "
                                >
                                  Enregistrer
                                </button>
                                <button
                                  type="reset"
                                  class="btn btn-outline-secondary"
                                >
                                  Annuler
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="delivery" role="tabpanel">
            <div class="d-flex mb-3 gap-3">
              <div class="avatar avatar-md">
                <span class="avatar-initial bg-label-primary rounded">
                  <i class="mdi mdi-dots-vertical mdi-24px"></i>
                </span>
              </div>
              <div>
                <h5 class="mb-1">
                  <span class="align-middle">Liste des reclamations</span>
                </h5>
                <span>Consultez vos reclamations</span>
              </div>
            </div>
            <!-- Teams Cards -->
            <div class="row g-4" *ngIf="statutliste">
              <div
                class="col-xl-4 col-lg-6 col-md-6"
                *ngFor="
                  let ListRetourRequetes of ListeRetourRequete;
                  let index = index
                "
              >
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <a href="javascript:;" class="d-flex align-items-center">
                        <!-- <div class="avatar avatar-sm me-2">
                          <img
                            src="../../assets/img/icons/brands/vue-label.png"
                            alt="Avatar"
                            class="rounded-circle"
                          />
                        </div> -->
                        <div class="me-2 text-heading h6 mb-0">
                          {{ ListRetourRequetes.TR_LIBELLETYEREQUETE }}
                        </div>
                      </a>
                      <div class="ms-auto">
                        <ul class="list-inline mb-0 d-flex align-items-center">
                          <li class="list-inline-item">
                            <div class="dropdown">
                              <button
                                type="button"
                                class="btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow p-0"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              >
                                <i
                                  class="mdi mdi-dots-vertical mdi-24px text-muted"
                                ></i>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                  <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                    data-bs-toggle="modal"
                                    *ngIf="
                                      recupinfo[0].TU_CODETYPEUTILISATEUR !=
                                      '0002'
                                    "
                                    data-bs-target="#addNewAddress2"
                                    (click)="recupListe(ListRetourRequetes)"
                                    ><i class="mdi mdi-account-tag me-1"></i>
                                    Avis de recevabilité</a
                                  >
                                </li>
                                <li>
                                  <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                    data-bs-toggle="modal"
                                    *ngIf="
                                      recupinfo[0].TU_CODETYPEUTILISATEUR !=
                                      '0002'
                                    "
                                    data-bs-target="#addNewAddress"
                                    (click)="recupListe(ListRetourRequetes)"
                                    ><i
                                      class="mdi mdi-account-arrow-right me-1"
                                    ></i>
                                    Attribution de reclamation</a
                                  >
                                </li>
                                <li>
                                  <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                    (click)="recupListe(ListRetourRequetes)"
                                    routerLink="SuiviRequete"
                                    ><i
                                      class="mdi mdi-animation-outline me-1"
                                    ></i>
                                    Suivi de reclamation</a
                                  >
                                </li>
                                <!--<li>
                                    <hr class="dropdown-divider" />
                                  </li>
                                  <li><a class="dropdown-item" href="javascript:void(0);">Delete Team</a></li>-->
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <p class="mb-3 pb-1">
                      {{ ListRetourRequetes.RQ_DESCRIPTIONREQUETE }}
                    </p>
                    <div class="d-flex align-items-center">
                      <div
                        class="d-flex align-items-center"
                        *ngIf="
                          !recupinfo[0].CU_NOMUTILISATEUR.includes('ADMIN')
                        "
                      >
                        <ul
                          class="list-unstyled d-flex align-items-center avatar-group mb-0"
                        >
                          <li
                            data-bs-toggle="tooltip"
                            data-popup="tooltip-custom"
                            data-bs-placement="top"
                            title="Kaith D'souza"
                            class="avatar avatar-sm pull-up"
                          >
                            <a href="javascript:;"
                              ><span class="badge bg-label-primary rounded-pill"
                                >NIVEAU :
                                {{ ListRetourRequetes.RE_LIBELLEETAPE }}</span
                              ></a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="ms-auto">
                        <!--<a href="javascript:;" class="me-2"
                            ><span class="badge bg-label-success rounded-pill">Vuejs</span></a
                          >-->
                        <a
                          href="javascript:;"
                          *ngIf="
                            ListRetourRequetes.RQ_DATESAISIEREQUETE !=
                              '01/01/1900' &&
                            ListRetourRequetes.RQ_DATEDEBUTTRAITEMENTREQUETE ==
                              '01/01/1900' &&
                            ListRetourRequetes.RQ_DATECLOTUREREQUETE ==
                              '01/01/1900'
                          "
                          ><span class="badge bg-label-primary rounded-pill"
                            >Enregistrée</span
                          ></a
                        >
                        <a
                          href="javascript:;"
                          *ngIf="
                            ListRetourRequetes.RQ_DATESAISIEREQUETE !=
                              '01/01/1900' &&
                            ListRetourRequetes.RQ_DATEDEBUTTRAITEMENTREQUETE !=
                              '01/01/1900' &&
                            ListRetourRequetes.RQ_DATECLOTUREREQUETE ==
                              '01/01/1900'
                          "
                          ><span class="badge bg-label-success rounded-pill"
                            >En cours de traitement</span
                          ></a
                        >
                        <a
                          href="javascript:;"
                          *ngIf="
                            ListRetourRequetes.RQ_DATESAISIEREQUETE !=
                              '01/01/1900' &&
                            ListRetourRequetes.RQ_DATEDEBUTTRAITEMENTREQUETE !=
                              '01/01/1900' &&
                            ListRetourRequetes.RQ_DATECLOTUREREQUETE !=
                              '01/01/1900'
                          "
                          ><span class="badge bg-label-danger rounded-pill"
                            >Cloturée</span
                          ></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Teams Cards -->
          </div>
        </div>
      </div>
      <!-- /FAQ's -->
    </div>

    <!-- Contact -->
    <div class="row mt-5">
      <div class="col-12 text-center mb-4">
        <div class="badge bg-label-primary rounded-pill"></div>
        <h5 class="my-3"></h5>
        <p></p>
      </div>
    </div>

    <!-- /Contact -->
  </div>
  ai
  <!-- / Content -->
</div>
<!-- Content wrapper -->
<!-- Add New Address Modal -->
<div class="modal fade" id="addNewAddress" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-add-new-address">
    <div class="modal-content p-3 p-md-5">
      <div class="modal-body p-md-0">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="text-center mb-4">
          <h3 class="address-title mb-2 pb-1">Attribution de la reclamation</h3>
          <p class="address-subtitle">
            Attribuer une reclamtion à un opérateur
          </p>
        </div>

        <!-- Inventory -->
        <!-- <div class="card mb-4"> -->
        <!-- <div class="card-header">
          <h5 class="card-title mb-0">Niveau de traitement de reclamation</h5>
        </div> -->
        &#160; &#160; &#160;
        <div class="card-body">
          <div class="row">
            <!-- Navigation -->
            <div class="col-12 col-md-4 mx-auto card-separator">
              <div
                class="d-flex justify-content-between flex-column mb-3 mb-md-0 pe-md-3"
              >
                <ul class="nav nav-align-left nav-pills flex-column">
                  <li
                    class="nav-item"
                    *ngFor="let ListEtapes of ListeComboEtapes; let i = index"
                  >
                    <button
                      class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#restock"
                      (click)="selectionEtape(ListEtapes)"
                    >
                      <i class="mdi mdi-cube-outline me-2"></i>
                      <span class="align-middle">{{
                        ListEtapes.RE_LIBELLEETAPE
                      }}</span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /Navigation -->
            <!-- Options -->
            <div class="col-12 col-md-8 pt-4 pt-md-0">
              <div class="tab-content p-0 pe-xl-0 ps-md-3">
                <!-- Restock Tab -->
                <div
                  class="tab-pane fade show active"
                  id="restock"
                  role="tabpanel"
                >
                  <h6 class="text-body">{{ recupEtape.RE_LIBELLEETAPE }}</h6>
                  <div
                    class="alert d-flex align-items-center bg-label-info mb-0"
                    role="alert"
                  >
                    <i class="mdi mdi-bell-outline me-2"></i>
                    Voulez-vous mettre fin à cette étape afin de l'attribuer à
                    un autre opérateur ? &#160; &#160; &#160;
                    <span
                      class="badge rounded-pill bg-primary"
                      (click)="ClotureEtape()"
                      style="cursor: pointer"
                      >Oui</span
                    >
                  </div>
                  <br />
                  <form
                    id="addNewAddressForm"
                    class="row g-4"
                    onsubmit="return false"
                  >
                    <div class="col-12">
                      <div class="form-floating form-floating-outline">
                        <select
                          id="modalOperateur"
                          name="modalOperateur"
                          class="select2 form-select"
                          data-allow-clear="true"
                          [(ngModel)]="formulaire_attr_reclamations[0].valeur"
                        >
                          <option
                            *ngFor="
                              let ListComboOperateur of ListeComboOperateur
                            "
                            value="{{
                              ListComboOperateur.CU_CODECOMPTEUTULISATEUR
                            }}"
                          >
                            {{ ListComboOperateur.CU_NOMUTILISATEUR }}
                          </option>
                        </select>
                        <label for="modalOperateur">Opérateur</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-floating form-floating-outline">
                        <input
                          type="text"
                          id="modalDuree"
                          name="modalDuree"
                          class="form-control"
                          placeholder="Entrez la date de début"
                          [(ngModel)]="formulaire_attr_reclamations[1].valeur"
                        />
                        <label for="modalDuree">Date de début</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-floating form-floating-outline">
                        <input
                          type="text"
                          id="modalDureefin"
                          name="modalDureefin"
                          class="form-control"
                          placeholder="Entrez la date de fin"
                          [(ngModel)]="formulaire_attr_reclamations[2].valeur"
                        />
                        <label for="modalDureefin">Date de fin</label>
                      </div>
                    </div>
                    <div class="form-floating form-floating-outline mb-4">
                      <textarea
                        class="form-control"
                        name="invoice-observation-avis"
                        id="invoice-observation-avis"
                        style="height: 190px"
                        placeholder="Objectif de la tâche"
                        [(ngModel)]="formulaire_attr_reclamations[3].valeur"
                      ></textarea>
                      <label for="invoice-observation-avis">Description</label>
                    </div>
                    <div class="col-12 text-center">
                      <button
                        type="submit"
                        class="btn btn-primary me-sm-3 me-1"
                        (click)="
                          EnregistrementRequeteAffectation(
                            formulaire_attr_reclamations
                          )
                        "
                      >
                        Soumettre
                      </button>
                      <button type="reset" class="btn btn-outline-secondary">
                        Reinitialiser
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /Options-->
          </div>
        </div>
        <!-- </div> -->
        <!-- /Inventory -->
      </div>
    </div>
  </div>
</div>
<!--/ Add New Address Modal -->

<!-- Add New Address Modal -->
<div class="modal fade" id="addNewAddress2" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-simple modal-add-new-address">
    <div class="modal-content p-3 p-md-5">
      <div class="modal-body p-md-0">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="text-center mb-4">
          <h3 class="address-title mb-2 pb-1">Avis sur la reclamation</h3>
          <p class="address-subtitle">
            Donner votre avis sur la recevabilité de cette reclamation
          </p>
        </div>

        <form id="addNewAddressForm" class="row g-4" onsubmit="return false">
          <div class="col-12">
            <div class="form-floating form-floating-outline">
              <select
                id="modalOperateur"
                name="modalOperateur"
                class="select2 form-select"
                data-allow-clear="true"
                [(ngModel)]="formulaire_avis[0].valeur"
              >
                <option
                  *ngFor="let ListAvisrecevabilit of ListeComboAvisrecevabilite"
                  value="{{ ListAvisrecevabilit.RS_CODESTATUTRECEVABILITE }}"
                >
                  {{ ListAvisrecevabilit.RS_LIBELLESTATUTRECEVABILITE }}
                </option>
              </select>
              <label for="modalOperateur">Avis</label>
            </div>
          </div>
          <div class="form-floating form-floating-outline mb-4">
            <textarea
              class="form-control"
              name="invoice-observation-avis"
              id="invoice-observation-avis"
              style="height: 190px"
              placeholder="Observation de l'agent traitant (portant sur la plainte ou la reclamation)"
              [(ngModel)]="formulaire_avis[1].valeur"
            ></textarea>
            <label for="invoice-observation-avis">Observation</label>
          </div>
          <div class="col-12 text-center">
            <button
              type="submit"
              class="btn btn-primary me-sm-3 me-1"
              (click)="EnregistrerAvis(formulaire_avis)"
            >
              Soumettre
            </button>
            <button
              type="reset"
              class="btn btn-outline-secondary"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Reinitialiser
            </button>
            <hr />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--/ Add New Address Modal -->
