.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
}

.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #1692f8 92%, rgba(179, 53, 53, 0));
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}

.custom-loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes s2 {
  100% {
    transform: rotate(0.5turn);
  }
}

.idLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* pour centrer verticalement */
}

//nouveau code pour le dropzone 23/06/2025
.file-dropzone {
  border: 2px dashed #1976d2;
  border-radius: 8px;
  background: #f8fafd;
  transition: border-color 0.2s;
}
.file-dropzone:hover {
  border-color: #1565c0;
  background: #f1f7fb;
}