<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y" *ngIf="ecran_affiche == 'operateur'">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <h4 class="card-header">Details du profil</h4>
        <!-- Account -->
        <!-- <div class="card-body">
          <div class="d-flex align-items-start align-items-sm-center gap-4">
            <img
              src="../../assets/img/avatars/1.png"
              alt="user-avatar"
              class="d-block w-px-120 h-px-120 rounded"
              id="uploadedAvatar"
            />
            <div class="button-wrapper">
              <label
                for="upload"
                class="btn btn-primary me-2 mb-3"
                tabindex="0"
              >
                <span class="d-none d-sm-block">Nouvelle photo</span>
                <i class="mdi mdi-tray-arrow-up d-block d-sm-none"></i>
                <input
                  type="file"
                  id="upload"
                  class="account-file-input"
                  hidden
                  accept="image/png, image/jpeg"
                />
              </label>
              <button
                type="button"
                class="btn btn-outline-danger account-image-reset mb-3"
              >
                <i class="mdi mdi-reload d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Réinitialiser</span>
              </button>

              <div class="text-muted small">
                JPG, GIF ou PNG autorisés. Taille maximale de 800K
              </div>
            </div>
          </div>
        </div> -->
        <div class="card-body pt-2 mt-1">
          <form id="formAccountSettings" method="POST" onsubmit="return false">
            <div class="row mt-2 gy-4">
              <div class="col-md-6">
                <div class="form-floating form-floating-outline">
                  <input
                    class="form-control"
                    type="text"
                    id="nom"
                    name="nom"
                    placeholder="Nom"
                    value=""
                    autofocus
                    [(ngModel)]="formulaire_operateur[0].valeur"
                  />
                  <label for="nom">Nom</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating form-floating-outline">
                  <input
                    class="form-control"
                    type="text"
                    name="prenoms"
                    id="prenoms"
                    value=""
                    placeholder="Prénoms"
                    [(ngModel)]="formulaire_operateur[1].valeur"
                  />
                  <label for="prenoms">Prénoms</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating form-floating-outline">
                  <input
                    class="form-control"
                    type="text"
                    id="email"
                    name="email"
                    value=""
                    placeholder="mail@example.com"
                    [(ngModel)]="formulaire_operateur[2].valeur"
                  />
                  <label for="email">E-mail</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating form-floating-outline">
                  <select
                    id="agence"
                    name="agence"
                    class="select2 form-select"
                    data-allow-clear="true"
                    placeholder="Agence"
                    [(ngModel)]="formulaire_operateur[3].valeur"
                  >
                  <option
                  *ngFor="let ListAgence of ListeComboAgence"
                  value="{{ ListAgence.AG_CODEAGENCE }}"
                  >
                  {{ ListAgence.AG_RAISONSOCIAL }}
                  </option>
                  </select>
                  <label for="agence">Agence</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    <input
                      type="text"
                      id="telephone"
                      name="telephone"
                      class="form-control"
                      placeholder="01 00 00 00 00"
                      [(ngModel)]="formulaire_operateur[4].valeur"
                    />
                    <label for="telephone">Numéro de téléphone</label>
                  </div>
                  <span class="input-group-text">CIV (+225)</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating form-floating-outline">
                  <input
                    type="text"
                    class="form-control"
                    id="login"
                    name="login"
                    placeholder="Login"
                    [(ngModel)]="formulaire_operateur[5].valeur"
                  />
                  <label for="login">Login</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating form-floating-outline">
                  <input
                    class="form-control"
                    type="text"
                    id="motdepasse"
                    name="motdepasse"
                    placeholder="Mot de passe"
                    [(ngModel)]="formulaire_operateur[6].valeur"
                  />
                  <label for="motdepasse">Mot de passe</label>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <button type="submit" class="btn btn-primary me-2" (click)="EnregistrementCompteOperateur(formulaire_operateur)">
                Sauvegarder
              </button>
              <button type="reset" class="btn btn-outline-secondary">
                Réinitialiser
              </button>
            </div>
          </form>
        </div>
        <!-- /Account -->
      </div>
    </div>
  </div>
</div>

<div class="container-xxl flex-grow-1 container-p-y" *ngIf="ecran_affiche == 'client'">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <h4 class="card-header">Details du client</h4>
        <!-- Account -->
        <!-- <div class="card-body">
          <div class="d-flex align-items-start align-items-sm-center gap-4">
            <img
              src="../../assets/img/avatars/1.png"
              alt="user-avatar"
              class="d-block w-px-120 h-px-120 rounded"
              id="uploadedAvatar"
            />
            <div class="button-wrapper">
              <label
                for="upload"
                class="btn btn-primary me-2 mb-3"
                tabindex="0"
              >
                <span class="d-none d-sm-block">Nouvelle photo</span>
                <i class="mdi mdi-tray-arrow-up d-block d-sm-none"></i>
                <input
                  type="file"
                  id="upload"
                  class="account-file-input"
                  hidden
                  accept="image/png, image/jpeg"
                />
              </label>
              <button
                type="button"
                class="btn btn-outline-danger account-image-reset mb-3"
              >
                <i class="mdi mdi-reload d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Réinitialiser</span>
              </button>

              <div class="text-muted small">
                JPG, GIF ou PNG autorisés. Taille maximale de 800K
              </div>
            </div>
          </div>
        </div> -->
        <div class="card-body pt-2 mt-1">
          <form id="formAccountSettings" method="POST" onsubmit="return false">
            <div class="row mt-2 gy-4">
              <div class="col-md-6">
                <div class="form-floating form-floating-outline">
                  <input
                    class="form-control"
                    type="text"
                    id="nom"
                    name="nom"
                    placeholder="Nom"
                    value=""
                    autofocus
                    [(ngModel)]="formulaire_operateur[0].valeur"
                  />
                  <label for="nom">Nom</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating form-floating-outline">
                  <input
                    class="form-control"
                    type="text"
                    name="prenoms"
                    id="prenoms"
                    value=""
                    placeholder="Prénoms"
                    [(ngModel)]="formulaire_operateur[1].valeur"
                  />
                  <label for="prenoms">Prénoms</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating form-floating-outline">
                  <input
                    class="form-control"
                    type="text"
                    id="email"
                    name="email"
                    value=""
                    placeholder="mail@example.com"
                    [(ngModel)]="formulaire_operateur[2].valeur"
                  />
                  <label for="email">E-mail</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating form-floating-outline">
                  <select
                    id="agence"
                    name="agence"
                    class="select2 form-select"
                    data-allow-clear="true"
                    placeholder="Agence"
                    [(ngModel)]="formulaire_operateur[3].valeur"
                  >
                  <option
                  *ngFor="let ListAgence of ListeComboAgence"
                  value="{{ ListAgence.AG_CODEAGENCE }}"
                  >
                  {{ ListAgence.AG_RAISONSOCIAL }}
                  </option>
                  </select>
                  <label for="agence">Agence</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    <input
                      type="text"
                      id="telephone"
                      name="telephone"
                      class="form-control"
                      placeholder="01 00 00 00 00"
                      [(ngModel)]="formulaire_operateur[4].valeur"
                    />
                    <label for="telephone">Numéro de téléphone</label>
                  </div>
                  <span class="input-group-text">CIV (+225)</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating form-floating-outline">
                  <input
                    type="text"
                    class="form-control"
                    id="login"
                    name="login"
                    placeholder="Login"
                    [(ngModel)]="formulaire_operateur[5].valeur"
                  />
                  <label for="login">Login</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating form-floating-outline">
                  <input
                    class="form-control"
                    type="text"
                    id="motdepasse"
                    name="motdepasse"
                    placeholder="Mot de passe"
                    [(ngModel)]="formulaire_operateur[6].valeur"
                  />
                  <label for="motdepasse">Mot de passe</label>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <button type="submit" class="btn btn-primary me-2" (click)="EnregistrementCompteOperateur(formulaire_operateur)">
                Sauvegarder
              </button>
              <button type="reset" class="btn btn-outline-secondary">
                Réinitialiser
              </button>
            </div>
          </form>
        </div>
        <!-- /Account -->
      </div>
    </div>
  </div>
</div>
<!-- / Content -->
